*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'container-title container-title container-title'
    'container-colors-quantity container-gradient-info container-gradient-direction'
    'container-gradient container-gradient container-gradient';
  min-height: 100vh;
}

.container-title {
  grid-area: container-title;
  height: 5vh;
}

.container-colors-quantity {
  grid-area: container-colors-quantity;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding-right: 15%;
}

.container-gradient-info {
  grid-area: container-gradient-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding-right: 20%;
}

.container-gradient-direction {
  grid-area: container-gradient-direction;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding-right: 30%;
}

.container-gradient {
  grid-area: container-gradient;
  width: 100%;
  min-height: 65vh;
  background-image: linear-gradient(
    to right,
    #008000,
    #ff0000,
    #0000ff,
    #ffff00
  );
}

.container-colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.container-arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-radio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.input {
  margin: 1rem;
  cursor: pointer;
}

.label-input-colors-quantity3 {
  margin: 0 1rem;
}

.container-disable {
  visibility: hidden;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  background-color: white;
}

.sub-title {
  text-align: center;
  letter-spacing: 0.01em;
}

.gradient-info,
.gradient-direction {
  font-size: 100%;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 1em 0;
}

.button {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #008000,
    #ff0000,
    #0000ff,
    #ffff00
  );
}

label {
  text-align: center;
}

@media (max-width: 800px) {
  .main {
    grid-template-areas:
      'container-title'
      'container-colors-quantity'
      'container-gradient-info'
      'container-gradient-direction'
      'container-gradient';
  }

  .container-title {
    height: 10vh;
  }

  .container-colors-quantity {
    height: 25vh;
    padding: 0;
  }

  .container-gradient-info {
    height: 19vh;
    padding: 0;
  }

  .container-gradient-direction {
    height: 21vh;
    padding: 0;
  }

  .container-gradient {
    min-height: 25vh;
  }

  .title {
    font-size: 1.25rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .gradient-info,
  .gradient-direction {
    font-size: 80%;
  }

  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
}
