*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-image: linear-gradient(to right, green, red);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
}

.container-arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 2rem;
  height: 2rem;
}

.input {
  margin: 1rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.sub-title {
  text-align: center;
  letter-spacing: 0.01em;
}

.gradient-info,
.gradient-direction {
  font-size: 100%;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 1em 0;
}

.button {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    hsla(120, 100%, 25%, 0.5),
    hsla(0, 100%, 50%, 0.5)
  );
}

.arrow {
  cursor: pointer;
}

@media (max-width: 430px) {
  .title {
    font-size: 1.4rem;
  }

  .sub-title {
    font-size: 1.15rem;
  }

  .gradient-info {
    font-size: 0.9rem;
  }
}
